@charset "utf-8";
OBRAZEK_OKLADKI {
    display: inline;
}

KSIAZKA {
    display: block;
    margin-top: 12pt;
    margin-left: 10pt;
    font-size: 18pt;
}

AUTOR {
    font-weight: bolder;
    margin-left: 20pt;
    display: block;
}

TYTUL {
    font-size: 15pt;
    font-style: italic;
    display: block;
    font-weight: bold;
}

OPRAWA,
CENA {
    display: block;
    margin-left: 25pt;
}

STRONY {
    display: none;
}
